
* {
  border-color: lightblue !important;
  outline-color: lightblue !important;
  box-shadow: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* background-color: #f2f2f2; */
  /* border-bottom: 2px solid #ddd; */
  margin-bottom: 5%;
}

header p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

header #nav-links {
  display: flex;
  gap: 60px; /* adjust this to control spacing between the links */
}

header a {
  text-decoration: none;
  color: #0077cc;
}

header a:hover {
  text-decoration: underline;
}


/* #personal_#personal_details {
  padding: 20px;
  font-family: Arial, sans-serif;
} */

/* #personal_details > span {
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
} */

#personal_details{
    margin-top: -2%;
    /* background-color: #0077cc; */
    margin-bottom: 5%;
}
#personal_detailss{
    margin-left: 3%;
}

#name,
#mail,
#data_of_birth,
#contact_number {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 10px; */
  margin-left: 30%;
  /* mar */
}

#name p,
#mail p,
#data_of_birth p,
#contact_number p {
  margin: 4px 0;
  font-size: 14px;
}

#full_name,
#email,
#DOB,
#phone_number {
  padding: 4px 6px;
  font-size: 13px;
  width: 220px;
}

#fav{

}

#food{
    margin-left: 30%;
    margin-top: -2%;
    
}

#favorite_food{
    margin-top: 5%;
}

#food label {
  display: inline-block;
  margin-right: 30px; /* or any space you want */
}

#rating_table{
    margin-top: 6%;
}



#rating_table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#rating_table th,
#rating_table td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 8px;
}

#rating_table td input[type="radio"] {
  transform: scale(1.2);
  cursor: pointer;
}


table tr:first-child {
  background-color: lightgray;
    border: 1px solid #0c0a0a;

}

#rating_table table tr:first-child th {
  border: 1px solid black;
}

#submit{
    background-color: rgb(58, 167, 230);
    margin-left: 44%;
    margin-top: 4%;
    width: 10%;
    height: 50px;
}
table tr:first-child th {
  border: 1px solid black !important;
}



#heading{
  text-align: center;
}